<div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <div id="logo">
          <a class="navbar-brand">
            <img src="https://icon-library.com/images/shopping-app-icon/shopping-app-icon-18.jpg" alt="logo" class="img-responsive"  style="max-height: 45px;">
          </a>
          <a class="navbar-brand">ZACK-Shop</a>
        </div>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active"><a routerLink="/shops">Shops</a></li>
          <li routerLinkActive="active"><a routerLink="/products">Products</a></li>
        </ul>
        <ul class="navbar-form navbar-right">
          <button type="" class="btn">Sign in</button>
          <button type="" class="btn btn-primary">Sign up</button>
        </ul>
      </div>
    </div>
  </nav>
</div>
